* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}
.contenedor {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

nav {
  height: 70px;
  background: #fff;
  display: flex;
}

.logo {
  padding-top: 25px;
  padding-left: 30px;
  color: #375e83;
  font-weight: bold;
}

.nav-content {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.enlaces {
  text-decoration: none;
  color: #375e83;
  display: inline-block;
  margin-right: 20px;
}

.Inicio {
  background-color: #143d64;
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
}

.principal {
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: space-between;
}

.ilustracion {
  flex-basis: 50%;
}

.contenedor-textos {
  flex-basis: 45%;
}

.titulo {
  font-size: 48px;
  font-weight: 700;
}

.copy {
  margin: 20px 0;
  font-weight: 300;
  font-size: 17px;
  font-weight: bold;
  color: #375e83;
}

.cta {
  display: inline-block;
  background: #143d64;
  color: #fff;
  text-decoration: none;
  padding: 16px 30px;
  border-radius: 30px;
}

.slider {
  height: 160px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

.slider .slide-track {
  display: flex;
  justify-content: space-between;

  /* width: calc(250px * 14); */
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.container-text {
  padding: 40px;
}

.anuncio {
  display: block;
  margin: 30px;
  margin-top: 100px;
}

.anuncio h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #143d64;
}

.anuncio p {
  line-height: 30px;
  font-weight: bold;
}

.container-cards {
  display: flex;
}

.card {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 300px;
  color: #375e83;
  margin: 40px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 30px;
  border-bottom: 3px solid #375e83;
  padding: 7px;
  margin-bottom: 30px;
}

.text {
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 2;
}

.bold {
  font-weight: bold;
}

.container-description {
  display: flex;
  padding: 40px;
}

.container-description .description-image {
  margin-left: 30px;
  padding-left: 30px;
}

.container-description h1 {
  color: #143d64;
  font-weight: bold;
}

.container-description p {
  line-height: 30px;
  padding-top: 30px;
  color: #375e83;
  font-weight: bold;
}

.acordeon {
  margin-left: 30px;
  padding: 30px;
}

.acordeon input {
  display: none;
}

.acordeon-titulo {
  display: block;
  padding-top: 20px;
  padding-left: 130px;
  color: #143d64;
  font-weight: bold;
  cursor: pointer;
  border: 0.5px solid rgb(235, 235, 235);
  height: 50px;
}

.acordeon-contenido {
  height: 0px;
  overflow: hidden;
  margin: 0px;
  transition: all 0.5s;
}

.acordeon input:checked ~ .acordeon-contenido {
  height: auto;
  margin: 15px 0px;
}

.container-form {
  display: flex;
  padding: 40px;
  width: 90%;
  justify-content: space-between;
}

.description-form {
  padding: 20px;
}

.container-form h1 {
  color: #143d64;
  font-weight: bold;
}

.container-form p {
  line-height: 30px;
  padding-top: 30px;
  color: #375e83;
  font-weight: bold;
}

.call-text {
  display: flex;
}

form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 45%;
  margin: 10px;
  /* border: 1px solid #ccc;   */
}

.call-text i {
  padding: 30px;
  font-size: 50px;
  line-height: 100px;
  color: #143d64;
}

.call-text div {
  margin-top: 40px;
}

.call-text .text {
  padding: 0px;
}

.call-text .number {
  padding: 0px;
}

.item button {
  display: block;
  width: 90%;
  height: 50px;
  margin-left: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #143d64;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

.item button:hover {
  background-color: #143d64;
  color: #fff;
}

footer {
  background-color: #d9e1e9;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  color: #143d64;
}

.footer .vaccination {
  display: block;
  padding: 20px;
  margin-left: 40px;
}
.footer .vaccination h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer .vaccination p {
  line-height: 25px;
}
.footer .components {
  display: flex;
  justify-content: space-between;
}
.footer .component {
  display: block;
  padding: 20px;
  margin-right: 40px;
}

.footer .component h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.footer .component p {
  line-height: 35px;
}

.copyr {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.copyr div {
  display: flex;
}

.copyr p {
  margin-right: 100px;
}
